keras                                    2.13.1
pandas                                   1.5.3
pillow                                   10.2.0
tensorflow                               2.13.0
numpy                                    1.23.5